#ID_INFORMATION {
  margin: 1rem 2rem;
  display: flex;
}

#ID_BTN_UP {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  height: 2rem;
  width: 2rem;
  font-size: 1rem;
  padding: 0;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
}
