.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2rem;
}

.list {
  display: flex;
  justify-content: center;
  margin: 0.7rem 0;
}

.goods-img {
  height: 7rem;
  border-radius: 6px;
}

.main-right {
  margin-left: 2rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.price {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.origin-price {
  font-size: 0.8rem;
  color: gray;
  text-decoration: line-through;
  margin-right: 0.25rem;
}

.tags {
  display: flex;
}

.tag {
  display: flex;
  flex-wrap: wrap;
}

.red-tag,
.blue-tag {
  font-size: 0.7rem;
  font-weight: bold;
  border: 1px solid;
  padding: 1px 5px;
  border-radius: 4px;
  width: auto;
  margin: 0.1rem 0.25rem 0.1rem 0;
}

.red-tag {
  color: rgb(244, 0, 0);
}

.blue-tag {
  color: rgb(2, 2, 211);
}

.goods-bottom {
  font-weight: bold;
  font-size: 0.75rem;
  display: flex;
  color: gray;
  justify-content: space-between;
}

.emoji {
  margin-right: 0.5rem;
}

@media (min-width: 880px) {
  .main {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .list {
    width: 50%;
    justify-content: flex-start;
  }
}

@media (min-width: 1200px) {
  .list {
    width: 33%;
  }
}
